/*
======
Fonts
======
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400|Kaushan+Script&display=swap");
/*
======
Variables
======
*/
:root {
  /* --primaryColor: #9e3aa3; */
  /* --primaryDarkColor: #4e1d51; */
  --primaryColor: #f15025;
  --primaryDarkColor: #c02c03;
  --primaryFont: "Catamaran", sans-serif;
  --slantedFont: "Kaushan Script", cursive;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #ececec;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --maxWidth: 40rem;
  --smallWidth: 85vw;
  --fullWidth: 1170px;
}
/*
======
Global Styles
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primaryFont);
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
.username {
  line-height: 2.6;
  font-size: 2rem;
  font-weight: 100;
  color: #ffffff;
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
a:link {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}
.card-columns {
  column-count: 3;
}
img {
  width: 80%;
  display: block;
}
/*
.signup_signin_img {
  width: 100px;
  height: 50px;
}
*/
.search {
  margin: 20px;
  width: 500px;
  max-width: 576px;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 3rem;
  letter-spacing: var(--mainSpacing);
}
.loading img {
  width: 10rem;
  margin: 0 auto;
}
/*
======
Buttons
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  outline: none;
  outline-style: none;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
  text-decoration: none;
  outline: none;
  outline-style: none;
}
.btn:focus,
.btn-white:focus,
.btn-primary:focus {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
  text-decoration: none;
  outline: none;
  outline-style: none;
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
/*
======
Header
======
*/
.header_fixed_position {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
  opacity: 1;
}
.with_fixed_header {
  margin-top: 64px;
}
.header {
  padding: 2rem 0;
}
.header a {
  color: white;
}
.header h5 {
  color: white;
  padding-top: 11px;
}
.logo {
  margin: 0 auto;
  width: 9rem;
}
.header ul,
.footer {
  display: flex;
  justify-content: space-between;
  width: var(--smallWidth);
  margin: 0 auto;
  margin-top: 2rem;
  max-width: var(--maxWidth);
}
.header ul div {
  display: flex;
  align-items: center;
}
.header a {
  text-transform: capitalize;
  margin: 0 0.25rem;
  font-size: 0.85rem;
  letter-spacing: 2px;
  transition: var(--mainTransition);
}
.header a:hover {
  color: var(--primaryColor);
}
.nav-link-font {
  font-size: 1.25rem;
  font-weight: 100;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}

/* Navbar Hamburger */
.nav-item-li {
  list-style-type: none;
}
.collapse-nav-item-line-height {
  line-height: 1.8;
}
.nav-toggler-border-color {
  border-color: #ffffff;
}
#close-icon {
  width: 30px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#close-icon span {
  display: block;
  height: 2px;
  width: 100%;
  /* background: #d3531a; */
  background: #ffffff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  margin-top: 5px;
}

/* Close Icon */
#close-icon {
  padding: 2px;
}
#close-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#close-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#close-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#close-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
  left: 1px;
  position: absolute;
}
#close-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#close-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 22px;
  left: 1px;
  position: absolute;
}
button:focus {
  outline: none !important;
}
.navbar-light .navbar-toggler {
  border-color: none;
  border: 0px;
}
@media screen and (max-width: 767px) {
  .custom-inner-item {
    align-self: end;
  }
}
@media screen and (min-width: 768px) {
  .custom-inner-item {
    display: none;
  }
}

/* END Navbar Hamburger */

.paper {
  /* border: 1px solid lightgray; */
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 0px;
}
/* SIGNUP HEADER */
.signup_paper {
  /* border: 1px solid lightgray; */
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 0px;
}

.signup_paper .wrapper {
  padding: 10px 30px 20px 30px !important;
}
.signup_paper a {
  color: blue !important;
}
.signup_paper img {
  margin: 15px 30px 10px 50px;
}

/* .notification {
  color: #ab003c;
} */
.signup_header {
  width: 100%;
  height: 120px;
  background-color: #2196f3;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  text-align: left;
  overflow: hidden;
}

/*
======
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}
/*
======
Product List
======
*/

.section {
  padding: 4rem 0;
}
.section-title,
.search-errors {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
}

/*
======
Cart
======
*/
.main-cart {
  width: 100%;
}
.main-cart-mt {
  margin-top: 0.5rem;
}
.empty-cart {
  text-align: center;
  text-transform: capitalize;
}
.cart-items {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
}
.cart-items h2 {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
}
.cart-item {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-column-gap: 1rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 5rem;
}
.cart-item h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}
@media screen and (max-width: 678px) {
  .cart-item h3 {
    font-size: 0.9rem;
    font-weight: 800;
  }
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0;
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
  margin-bottom: 0;
}
.cart-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.remove-btn {
  color: var(--darkGrey);
  letter-spacing: var(--mainSpacing);
  cursor: pointer;
  font-size: 0.8rem;
}
.amount-btn {
  color: var(--primaryColor);
  font-size: 1rem;
}
/* ORDER HISTORY */
.text_aligned_right {
  text-align: center;
}

/* restaurant mini cart */
/* -------------------- */
.addtocart_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#item-price {
  font-size: 1.3em;
  color: rgba(97, 97, 97, 1);
}
#item-quantity {
  font-size: 0.95em;
  padding-bottom: 4px;
  color: rgba(158, 158, 158, 1);
}
#item-name {
  font-size: 1.3em;
  color: rgba(97, 97, 97, 1);
}

/*
======
Cart Link
======
*/
.cart-link-container {
  position: relative;
  width: 80px;
}
.cart-word-color {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 100;
}
.cart-link-container a {
  margin-right: 10px;
  font-weight: 100;
}
.cart-link-total {
  display: block;
  position: absolute;
  min-width: 22px;
  max-width: 30px;
  max-height: 22px;
  /* min-height: 22px;
   */
  background: var(--primaryColor);
  /*  top: -10px;
  right: -10px;*/
  top: 0px;
  right: 4px;
  line-height: 1.4;
  padding: 0rem 0.4rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  color: var(--mainWhite);
}
@media screen and (min-width: 768px) {
  .cart-link-total {
    top: -2px;
    right: 16px;
  }
}

/*
======
Login Form
======
*/
.form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
}
.login-form,
.checkout-form {
  background: var(--mainWhite);
  padding: 1.25rem 1rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--darkGrey);
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.form-empty,
.stripe-errors {
  text-align: center;
  color: var(--mainRed);
}
.register-link {
  margin-bottom: 0;
  margin-top: 1rem;
  text-align: center;
}
.register-link button {
  background: transparent;
  border: none;
  color: var(--primaryColor);
  text-transform: capitalize;
  font-size: inherit;
  display: inline-block;
  margin-left: 0.5rem;
  cursor: pointer;
}
.disabled {
  color: var(--mainWhite);
  background: var(--darkGrey);
  border-color: var(--darkGrey);
}
.disabled:hover {
  background: transparent;
  color: var(--darkGrey);
  border-color: var(--darkGrey);
}
/*
======
Login Button
======
*/
.login-btn {
  text-transform: capitalize;
  background: transparent;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-family: var(--primaryFont);
  margin: 0 0.25rem;
  font-size: 0.85rem;
  letter-spacing: 2px;
  transition: var(--mainTransition);
  font-weight: 300;
}
.login-btn:hover {
  color: var(--primaryColor);
}
@media screen and (min-width: 768px) {
  .login-btn {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}
/*
======
Alert
======
*/
.alert-container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 10;
  background: green;
  width: 24rem;
  padding: 2.5rem 1.5rem;
  text-align: center;
  color: var(--mainWhite);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  border-radius: var(--mainBorderRadius);
  transition: all 0.3s linear;
}
.alert-show {
  display: block;
}
.alert-center {
  position: relative;
}
.alert p {
  margin-bottom: 0;
  line-height: 2;
}
.alert-danger {
  background: var(--mainRed);
}
.alert-close {
  color: var(--mainWhite);
  font-size: 1.5rem;
  background: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 7px;
  cursor: pointer;
  line-height: 0;
}
/*
======
Checkout
======
*/
.checkout-form h3 span {
  color: var(--primaryColor);
}
.stripe-info {
  font-size: 80%;
  margin-top: 0.5rem;
  color: var(--darkGrey);
}
.stripe-info span {
  color: var(--primaryColor);
}

.card-element {
  border: 2px solid var(--darkGrey);
  padding: 0.5rem;
  font-size: 4rem;
  border-radius: var(--mainBorderRadius);
}

.checkout-form .form-empty {
  margin-top: 1rem;
  margin-bottom: 0;
}
.checkout-form button {
  margin-top: 1rem;
}
/*
======
Scroll Button
======
*/
.scroll-btn {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  background: var(--mainBlack);
  color: var(--mainWhite);
  z-index: -100;
  opacity: 0;
  transition: var(--mainTransition);
  font-size: 2rem;
  line-height: 0;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.show-scroll-btn {
  z-index: 100;
  opacity: 1;
}
/* CHECKOUT */
/*
.order-button-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}
*/
.order-button-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header2 {
  width: 100%;
  height: 60px;
  color: #ffffff;
  padding: 8px;
  background-color: #2196f3;
  margin-bottom: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  padding: 10px 30px 20px 30px !important;
}

.header {
  width: 100%;
  height: 60px;
  color: #ffffff;
  padding: 8px;
  background-color: #2196f3;
  margin-bottom: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout_paper {
  border: 1px solid lightgray;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  height: 85%;
  padding: 30px;
  background: #fff;
  border-radius: 6px;
  margin-top: 48px;
  margin-bottom: 40px;
}
.checkout_paper label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.checkout_paper .form-half {
  flex: 0.5;
}
.checkout_paper h1 {
  color: #32325d;
  font-weight: 400;
  line-height: 50px;
  font-size: 40px;
  margin: 20px 0;
  padding: 0;
}
.checkout_paper .Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}

.checkout_paper button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}
.checkout_paper form {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 3px solid #e6ebf1;
}
.checkout_paper button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.checkout_paper input,
.StripeElement {
  display: block;
  background-color: #f8f9fa !important;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}
.checkout_paper input::placeholder {
  color: #aab7c4;
}
.checkout_paper input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
.StripeElement.IdealBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}
